* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
    min-height: 100vh;
    display: grid;
    row-gap: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, minmax(auto, auto));
    grid-template-areas:
    "header"
    "aside"
    "section1"
    "section2"
    "footer";
}

header, .sec-1, .sec-2, .foot {
    color: white;
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/izecream.jpg");
    background-position: center center;
    background-size: cover;
}

h1 {
    letter-spacing: 0.2rem;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav, .social-links {
    list-style-type: none;
    position: relative;
    right: 1rem;
}

.nav li a {
    color: black;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.05rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.2rem;
}

.nav li a:hover {
    color: white;
}
.nav li a:active {
    color: black;
}

.nav li {
    margin-bottom: 1rem;
}

.social-links {
    display: flex;
    flex-direction: row;
    margin-top: -0.5rem;
}

.social-links li a img {
    max-width: 100%;
    height: auto;
    width: 1.8rem;
}

.social-links .ig {
    padding-right: 1.4rem;
    padding-left: 1.4rem;
}

aside {
    grid-area: aside;
    background-color:burlywood;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
}

aside h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

aside h2 + p {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

aside .aside-text {
    text-align: center;
}

.menu-btn {
    border: 2px solid black;
    padding: 0.5rem 1.5rem;
    margin-bottom: 1.4rem;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu-btn:hover {
    background-color: white;
}
.menu-btn:active {
    background-color: gray;
    color: black;
}

.aside-img img {
    width: 35rem;
    max-width: 100%;
    min-height: auto;
    display: block;
}
.sec-1 {
    grid-area: section1;
    background-color: purple;
    text-align: center;
    color: black;
    background-image: url("images/icekream.jpg");
    background-position: center center;
    background-size: cover;
    /* display: flex;
    align-items: center;
    flex-direction: row; */
}

.dessert {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.sec1-text {
    font-size: 0.95rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    line-height: 1.2rem;
}

.dessert+p {
    color: tomato;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.sec1-img img {
    max-width: 100%;
    height: auto;
    width: 35rem;
    display: block;
}

.sec1-btn {
    border: 2px solid black;
    padding: 0.5rem 1.5rem;
    /* margin-bottom: 1.8rem; */
    margin: 0.4rem auto;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 6rem;
    margin-bottom: 1rem;
}

.sec-2 {
    grid-area: section2;
    background-color: lightseagreen;
}

.foot {
    grid-area: footer;
    text-align: center;
    background-color: darkgoldenrod;
}

@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, minmax(100px, auto));
        grid-template-areas:
        "header header"
        "section1 aside"
        "section2 aside"
        "footer footer";
    }

    header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(10rem, auto);
        grid-area: header;
        background-color: red;
        /* display: flex;
        justify-content: space-between; */
    }

    h1 {
        padding-left: 1rem;
        font-size: 1rem;
    }

    .social-links {
        padding-left: 4rem;
        margin-top: 1rem;
    }
    
    .nav {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .nav li {
        margin: 0 0.4rem;
    }
     .nav li a {
        color: white;
        font-size: 1rem;
     }

     .nav li a:hover {
        color: black;
     }

    aside {
        grid-area: aside;
        background-color: forestgreen;
    }
    
    .sec-1 {
        grid-area: section1;
        background-color: purple;
    }
    
    .sec-2 {
        grid-area: section2;
        background-color: lightseagreen;
    }
    
    .foot {
        grid-area: footer;
        background-color: darkgoldenrod;
    }
}