* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: yellow;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, minmax(100px, auto));
    grid-template-areas:
    "header"
    "aside"
    "section1"
    "section2"
    "footer";
}

header, .sec-1, .sec-2, .foot {
    color: white;
}

header {
    grid-area: header;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/icecreampic3.jpg");
    background-position: center center;
    background-size: cover;
}

h1 {
    letter-spacing: 0.2rem;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav, .social-links {
    list-style-type: none;
    position: relative;
    right: 1rem;
}

.nav li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.nav li a:hover {
    color: white;
}
.nav li a:active {
    color: black;
}

.nav li {
    padding-bottom: 1rem;
}

.social-links {
    display: flex;
    flex-direction: row;
    margin-top: -0.5rem;
}

.social-links li a img {
    max-width: 100%;
    height: auto;
    width: 1.8rem;
}

.social-links .ig {
    padding-right: 1.4rem;
    padding-left: 1.4rem;
}

aside {
    grid-area: aside;
    background-color: forestgreen;
}

.sec-1 {
    grid-area: section1;
    background-color: purple;
}

.sec-2 {
    grid-area: section2;
    background-color: lightseagreen;
}

.foot {
    grid-area: footer;
    background-color: darkgoldenrod;
}

@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, minmax(100px, auto));
        grid-template-areas:
        "header header"
        "section1 aside"
        "section2 aside"
        "footer footer";
    }

    header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-area: header;
        background-color: red;
    }
    
    aside {
        grid-area: aside;
        background-color: forestgreen;
    }
    
    .sec-1 {
        grid-area: section1;
        background-color: purple;
    }
    
    .sec-2 {
        grid-area: section2;
        background-color: lightseagreen;
    }
    
    .foot {
        grid-area: footer;
        background-color: darkgoldenrod;
    }
}